:root{
    --background-color: #4d9156;
    --background-tx-back-color: #3f7646;
    --navigatiebalk-color: #3f7646;
    --navigatiebalk-hover-color: #457e4d;
    --navigatiebalk-text-color: #ffe133;
}
*{
   scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--background-color);
    position: relative;
    padding-bottom: 5px;
    min-height: 100vh;
}
.navigatiebalk{
    color: white;
    background-color: var(--navigatiebalk-color);
    border-radius: 5px;
    margin-left: 28%;
    margin-right: 28%;
    font-size: 22px;


}
.carousel {
    position: absolute;
    border-radius: 5px;
    width: 200px;
    height: 300px;
  }

  .carousel-inner .carousel-item img {
    border-radius: 5px;
    width: 200px;
    height: 300px;
  }
.content {
    flex: 1;
  }

  .footer {
    background-color: beige;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  .social-icons {
    font-size: 24px;
    margin: 0 10px;
    color: white;
  }
.navigatiebalk:hover{
    background-color: var(--navigatiebalk-hover-color);
   
}
.nav-text{
    padding: 30px;
    color: white;
}
.nav-text:hover{
    color: orange;
    background-color: var(--navigatiebalk-color);
    border-radius: 5px;
    font-weight:500;
    font-style: italic;
    font-weight: bold;
   
}
.footer{
    height: 17%;
    border-radius: 5px;
    margin-left: 28%;
    margin-right: 28%;
    padding-top: 2%;
}
.text-center{
    font-size: 16px;
    text-align: center;
    color: white;
}
.afbeelding{
    width: 20%;
    border-radius: 5%;
   border: 2px white solid;
}
.background-text{
    background-color: var(--background-tx-back-color);
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}
a:any-link{
    color: beige;
    text-decoration: none;
}
.link-decoration{
    color: yellow;
    text-decoration: underline;
}

/* Intro Styles */
.intro {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-tx-back-color);
    color: white;
    backdrop-filter: invert(5%) blur(5px);
    transition: 1s;
    border-radius: 10px;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wit);
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}